<div ng-include="'components/navbar/navbar.html'"></div>
 <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><strong>
                        Your Playlists
                </strong></li>
                <li class= 'hover 'ng-repeat='tab in tabs' ng-click='update_songs(tab._id)'>
                    {{tab.title}}</li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <songslist></songslist>
                </div>
            </div>
        </div>
<!-- <md-content>
<div layout="column" layout-fill>
  <section layout='row' flex>
    <md-sidenav class='md-sidenav-left' md-component-id='left'>
    <h2>Playlists</h2>
  </md-sidenav>
  <md-content>
    <md-tabs md-selected='selectedIndex'>
      <md-button ng-repeat='tab in tabs' ng-disabled='tab.disabled' label='{{tab.title}}' ng-click='update_songs(tab._id)'>{{tab.title}}</md-button>
          <md-content class="md-padding" style="height: 300px;">
        <div class= "col-md-4" >
          <songslist></songslist>
        </div>
        <div class='col-md-4'></div>
    </md-tab>
  </md-tabs>
</md-content> -->


</section>
</div>
</md-content>
  <audio id="music" preload="true">
    <source src="">
        <source src="">
    </audio>
  <div id="audioplayer">
    <button id="pButton" class="play" ng-click="playTrack()"></button>
    <div id="timeline">
          <div id="playhead"></div>
    </div>
  </div>
</div>
