
<div ng-controller="QueueCtrl" layout="column" layout-fill>
    <md-tabs md-selected='selectedIndex'>
      <md-tab ng-repeat='tab in playlist_tabs' ng-disabled='tab.disabled' label='{{tab.title}}'>
      <div class="demo-tab tab{{$index%4}}" layout="column" layout-fill layout-align="space-around-center">
        <div ng-bind="tab.title playlist">{{tab.title}} Playlist</div>
      </div>
    </md-tab>
  </md-tabs>
    <md-content class="md-padding" style="height: 300px;">
           <h3>NOW PLAYING</h3>
        <div class='col-md-4'></div>
        <div class= "col-md-4" >

        <!-- <iframe id="ytplayer" type="text/html" width="300" height="200" src="http://www.youtube.com/embed/JI5noh4OyXc?autoplay=1&iv_load_policy=3" frameborder="0" /> -->
        </div>
        <div class='col-md-4'></div>
    </md-content>
    <md-content style="height: 600px;">
        <h2>SONG QUEUE</h2>
        <md-list>
            <md-item ng-repeat="song in songs">
                <md-item-content>
                    <div class="md-tile-left">
                        <img ng-src="{{song.thumbnail}}" alt="{{song.who}}" class="face">
                    </div>
                    <div class="md-tile-content">
                        <h3>{{song.title}}</h3>
                        <h4>{{song.artist}}</h4>
                        <p>{{song.source}}</p>
                        <md-button class="md-primary" aria-label='none'>
                            <ng-md-icon ng-click= 'play(index)'icon="play_arrow" size='30'></ng-md-icon>
                        </md-button>
                        <md-button class="md-primary" aria-label='none'>
                            <ng-md-icon icon="clear" size='30'></ng-md-icon>
                        </md-button>
                    </div>
                </md-item-content>
                <md-divider inset></md-divider>
            </md-item>
        </md-list>
      </md-content>
</div>
