<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
   <input id="filterBox" type="text" ng-model="searchTerm" placeholder="filter by song, artist, remix"></input>
  <md-tabs>
  <md-tab ng-repeat='tab in tabs' label='{{tab.title}}' ng-click='update_songs(tab._id); update_index($index)' ng-class="{'really_active': selectedIndex == $index}">
  <div label='column' layout-align='center'>
    <md-content>
      <songslist></songslist>
    </md-content>
  </div>

  </md-tab>
</md-tabs>

