md-toolbar.md-default-theme

.dragging {
  background-color: black;
}

.toolbardemoScrollShrink .face {
  width: 48px;
  margin: 16px;
  border-radius: 48px;
  border: 1px solid #ddd; }

#filterBox {
  text-align: center;
  color: black;
  border: 2px solid #FFC2A3;
  border-radius: 3px;
  width: 100%;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  padding: 3px;
  margin: 0 auto;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-top: -50px;
    padding: 0px;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 50;
    position: fixed;
    width: 0;
    height: 100%;
    margin-top: 30px;
    /*margin-left: -250px;*/
    overflow-y: auto;
    background: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: 2px solid black;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    // position: absolute;
    margin-top: 30px;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    // top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav:hover {
  color: black;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
/*    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }
*/
    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.custom-container {
    width: 80%;
}

.track-box {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

md-sidenav.md-locked-open {
  position: fixed !important;
  left: 5%;
  margin-top: 136px;
}

md-toolbar.md-default-theme {
color: black;
}

md-toolbar.md-default-theme li{
color: black;
padding: 10px;
margin: 5px;
}

md-toolbar.md-default-theme ul{
color: black;
padding: 10px;
margin: 5px auto;
}

.font-white {
  color: rgb(255,255,255);
}

md-toolbar.md-default-theme li.activeClass {
  color: rgb(255,255,255);
}

.right-column{
  width: 75%;
  margin-left:300px !important;
  display: inline-block;
}

.right {
  width: auto;
  float: right;
  position: relative;
  top: 0;
  right: 0;
  display:inline-block;
}

.default-tab {
  color: rgb(178,223,219);
}

.really_active {
  color: black !important;
}

.top_hat {
  margin-left:310px;
  width: 80%;
  margin-top: 17px;
  margin-bottom: 100px;
}

.as-sortable-item, .as-sortable-placeholder, .content_list, .item-set-height {
  height: 100px;
  margin: 0 auto;
  padding: 0;
}

div[as-sortable] {

}

.drag {
  padding: 0;
}


.as-sortable-item {
 background-color: rgb(255,255,255);


}

.md-content {
  overflow: none !important;
}

.as-sortable-placeholder {
  background-color: grey;
}
