$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

 body {
  padding-top: 70px;
 }

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.fixed {
	position: fixed;
}

.navbar {
  background-color:rgb(0,150,136);
  color:white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
  margin-bottom: 24px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: rgb(178,223,219);
  color: white;
}

.hover:hover{
  background-color: #b2dfdb;
  color: white;
}


// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
@import 'queue/queue.scss';
@import 'songslist/songslist.scss';
@import 'userManage/userManage.scss';
@import 'modal/modal.scss';
// endinjector
