input {
  margin-right: 10px;
}

.left-float {
  float: left;
}

.icon {
  padding: auto;
  margin: auto;
  color: red;
}

.dark-teal {
  background-color: #004d40;
}

.font-set {
  font-size: 18px;
}

.button-yeah {
  float: right;
  height: 25px;
  padding-top: 0px;
  padding-bottom: 5px;
}

.button-add {
  float: right;
  height: 15px;
  padding-top: 0px;
  padding-bottom: 5px;
}

.submit-button {
  height: 10px;
}

.set-width {
  width: 70%;
  margin-right: 50px;
}

.dark-bar {
  height: 100px;
}


