<div ng-include="'components/navbar/navbar.html'"></div>
<row>
    <div class='container'>
        <md-tabs>

            <md-tab label='Playlists'>

                <div layout="column" layout-align="center">
                    <md-content>

                    <div class='playlist_list'>
                        <md-list class='font-set'>
                        <h3>Your Playlists</h3>
                            <md-item ng-repeat="playlist in playlists">
                                <md-item-content>
                                <div class='playlists'>
                                    <div class="md-tile-content hover" ui-sref='queue({playlist_id : playlist._id})'>
                                        <div class='left-float'>{{playlist.title}}</div>
                                        <md-button ng-if="!$first && playlist.title != 'Spotify Bookmarks'" ng-click="removePlaylist($index)" class='md-warn button-yeah' aria-label='remove'>
                                            <ng-md-icon class='delete' icon="clear" size='15'></ng-md-icon>
                                        </md-button>
                                    </div>
                                  </div>
                                </md-item-content>
                                <md-divider></md-divider>

                            </md-item>
                        </md-list>
                      </div>
                    </md-content>
                </div>
            </md-tab>

            <md-tab label='Create New Playlist'>
                <div layout="column" layout-align="center" class='center'>
                    <md-item-content>
                    <div class='create_list'>
                            <h3>Create A New Playlist</h3>
                            <div>
                                <form>
                                <input ng-model="newPlaylist.title">
                                <md-button type= 'submit' class='md-raised' ng-disabled="!newPlaylist.title" ng-click="createPlaylist()">Create!</md-button>
                                </form>
                            </div>
                            <md-item ng-repeat="song in currentPlaylistSongs">
                                <div class='font-set'>{{song.title}}</div>
                                <md-button ng-click="removeSongfromPlaylist($index)" class='md-warn button-yeah' aria-label='remove'>
                                    <ng-md-icon class='delete' icon="clear" size='15'></ng-md-icon>
                                </md-button>
                            </md-item>
                          </div>
                    </md-content>
                </div>
            </md-tab>


            <md-tab label='Friend Music Feed'>
                <div layout="column" layout-align="center">
                    <md-content>
                    <div class='friend_list'>
                      <div ng-if='currentUserSubscriptions.length>0'>
                      <h3>Users you are currently following</h3>
                    </div>
                        <md-list>
                            <div ng-if='currentUserSubscriptions.length===0'>
                                <h4>Discover new music with Subscriptions!</h4>
                                <h4>Search for users to follow</h4>
                        <form>
                        <input type="text" ng-model="nameFilter.name" placeholder="Search..." />
                        <md-button type = 'submit' class='md-raised' ng-disabled="!nameFilter.name" ng-click="getUsers(nameFilter.name)">Search</md-button>
                        </form>
                        <br>
                        <h4 ng-if='userList'><strong>Search Results</strong></h4>
                        <md-content>
                            <md-list class='userList'>
                                <md-item ng-repeat='user in userList'>
                                    <md-item-content>
                                        <div class='md-tile-content hover'>
                                            <div class='left-float'>
                                                {{user.name}}</div>
                                            <div class='left-float'>
                                                {{user.email}}</div>
                                            <md-button class='button-yeah' aria-label='add' ng-click="subscribe($index)" class='follow-button'>
                                                <ng-md-icon icon='add' size='20'></ng-md-icon>
                                            </md-button>
                                        </div>
                                    </md-item-content>
                                    <md-divider ng-if="!$last"></md-divider>
                                </md-item>
                            </md-list>
                        </md-content>

                              </div>
                              <md-item ng-repeat="subscription in currentUserSubscriptions">
                                    <md-item-content>
                                    <div class='friends'>
                                        <div class='md-tile-content left-float' ng-click="getSpecificUser($index)">{{subscription.name}}</div>
                                        <md-button ng-click="removeSubscription($index)" aria-label='remove' class='md-warn button-remove-friends'>
                                            <ng-md-icon class='delete' icon="clear" size='15'></ng-md-icon>
                                        </md-button>
                                      </div>
                                    </md-item-content>
                                    <md-divider ng-if="!$last"></md-divider>
                                </md-item>
                        </md-list>
                      </div>
                    </md-content>
                    </div>
            </md-tab>

            <md-tab label='Search and Add Friends'>
                <div layout="column" layout-align="center">
                  <div class='search_friend' layout-align='center center'>
                        <h3>Search for users to follow</h3>
                        <form>
                        <input type="text" ng-model="nameFilter.name" placeholder="Search..." />
                        <md-button type='submit' class='md-raised' ng-disabled="!nameFilter.name" ng-click="getUsers(nameFilter.name)">Search</md-button>
                        </form>
                        <br>
                        <h4 ng-if='userList'><strong>Search Results</strong></h4>
                        <md-content>
                            <md-list class='userList'>
                                <md-item ng-repeat='user in userList'>
                                    <md-item-content>
                                        <div class='md-tile-content'>
                                            <div class='left-float'>
                                                {{user.name}}</div>
                                            <div class='left-float'>
                                                {{user.email}}</div>
                                            <md-button class='button-yeah' aria-label='add' ng-click="subscribe($index)" class='follow-button'>
                                                <ng-md-icon icon='add' size='20'></ng-md-icon>
                                            </md-button>
                                        </div>
                                    </md-item-content>
                                    <md-divider ng-if="!$last"></md-divider>
                                </md-item>
                            </md-list>
                        </md-content>
                      </div>
                </div>
            </md-tab>
            <md-tab label='Followers'>

                <div layout="column" layout-align="center">
                    <md-content>

                    <div class='followers_list'>
                        <md-list class='font-set'>
                        <h3>Your Followers</h3>
                        <div ng-if='currentUserFollowers.length===0'>
                                <h4>You currently have no followers yet</h4>
                                <h4>Don't let your friends miss out on the great music you come across!</h4>
                        </div>
                            <md-item ng-repeat="follower in currentUserFollowers">
                                <md-item-content>
                                <div class='followers'>
                                    <div class="md-tile-content hover">
                                        <div class='left-float'>{{follower.name}}</div>
                                    </div>
                                  </div>
                                </md-item-content>
                                <md-divider></md-divider>
                            </md-item>
                        </md-list>
                      </div>
                    </md-content>
                </div>
            </md-tab>
        </md-tabs>
      </div>
</row>
