<h1>List of your Awesome playlists</h1>
<li ng-repeat = "playlist in playlists">
	<div ng-click= "getSpecificPlaylist($index)">{{playlist.title}}</div><button ng-click = "removePlaylist($index)"><ng-md-icon icon="clear"></ng-md-icon></button>
</li>

<h1>Create New Playlist</h1>
title 
<input ng-model="newPlaylist.title"><button ng-click = "createPlaylist()">Submit</button>
SONGSSSS
{{songs}}

<input type="text" ng-model="nameFilter" placeholder="Search..."/><button ng-click = "getUsers(nameFilter)">Submit</button>
<br>
UserList
<li ng-repeat = "user in userList">
{{user.name}}<button ng-click = "subscribe($index)"></button>
</li>
