.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.logo-image {
  background-color: #CE87E6;
  width: 100%;
  margin: -25px auto 0 auto;
  display: block;

}

.logo {
  margin: 0 auto;
  padding-top: 20px;
}

.feature-row {
  padding-left: 15px;
  padding-right: 15px;
  width: 90%;
  margin-top:20px;
  margin-right: auto;
  margin-left: auto;
}

.features {
  text-align: center;
  padding: 10px 50px 30px 10px;

}

.footer {
  text-align: center;
}


