<div class="navbar navbar-default navbar-static-top dont_hide" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a href="/" class="navbar-brand">Splyt</a> -->
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <!-- <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li> -->
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
        <li ng-show="isLoggedIn()"><a ng-href="/queue/{{getCurrentUser().playlist[0]}}">Your Music</a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/user/:id')}"><a class="animated" ng-class="{'bounce' : hover}" ng-href="/user/{{getCurrentUser()._id}}">Playlist Settings</a></li>
        <li ng-show="isLoggedIn()" ng-click='open()'><a>Search for New Songs</a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container logo-image" ng-class="{'logged':user.status}">
  <img class='container logo md-card-image col-sm-12' ng-class="{'logo-logged':user.status}" src='assets/images/logo.png'>
</div>
<div class='row feature-row'>
<div class='col-md-4 col-sm-12 features'>
  <h3>Discover</h3>
  <p>The chrome extension that will revolutionize the way you discover and listen to music. We take the work out of remembering and saving songs you come across during day-to-day web activities and store them in a convenient spot for you to access later.</p>
</div>
<div class='col-md-4 col-sm-12 features'>
  <h3>Listen</h3>
  <p>Our web player supports Youtube, SoundCloud, Spotify and Tumblr audio content, allowing you to listen to all song formats from one app. Never worry about keeping separate open tabs for your different music streaming service accounts again!</p>
  </div>
  <div class='col-md-4 col-sm-12 features'>
    <h3>Connect</h3>
    <p>Follow your friends and check out what they are adding to their own accounts. Show off your music taste and web browsing prowess by allowing your friends to access the latest additions to your playlists.</p>
  </div>
</div>
</div>

<!-- <button ng-click= "test()">TESTTTTTT</button> -->

<footer class="footer col-md-12">
      <p><a href='https://github.com/es1831' target="_blank">Emmie Salama</a> | <a href='https://github.com/KamillaKhabibrakhmanova' target="_blank">Kamilla Khabibrakhmanova</a> | <a href='https://github.com/lindslev' target="_blank">Lindsay Levine</a></p>
  </div>
</footer>
