body {
  font-family: Open Sans;
  /* font-weight: 100; */
}
#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #FFB2B2;
    p {
      font-family: Lato;
      font-weight: Thin 100;
      font-size: 40px;
      display: inline-block;
    }
    #webstore {
      width: 60px;
      height: 60px;
      display: inline-block;
      margin-bottom: 15px;
    }
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.logo-image {
  filter: brightness(50%);
  background-color: black;
  margin: -70px auto 0 auto;
  display: block;
  background-image:url('../assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  float: left;
  left: 0%;
  position: relative;
}

.logo-image .logged{
  margin: -40px auto;
}

.logo {
  margin: 20px auto;
  padding-top: 20px;
  filter: brightness(167%);
  width: auto;
  height: 45vw;
  float: left;
  left: 16%;
  position: relative;
}

.logo-logged {
  margin: 56px auto !important;
}

.feature-row {
  padding-left: 15px;
  padding-right: 15px;
  width: 90%;
  margin-top:20px;
  margin-right: auto;
  margin-left: auto;
}

.features {
  text-align: center;
  padding: 10px 50px 30px 10px;

}

.footer {
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
  font-weight: Thin 100;
}

#features {
  background: #303030;
  color: white;
  width: 100%;
}

#odd-feature, #even-feature {
  padding: 15px;
  p {
    font-weight: 100;
  }
}

#odd-feature {
  // background: #E6E6E6;
  h3 {
    color: #009688;
  }
}

#even-feature {
  h3 {
    color: white;
  }
}


#extension-desc {
  padding-top: 25px;
  img {
    width: 300px;
    height: 300px;
  }
  .col-md-7 {
    h2, p {
      padding: 0px 50px;
    }
  }
}

#app-desc {
  img {
    width: 500px;
    height: 300px;
    margin: 0px 50px;
  }
  .col-md-7 {
    h2, p {
      padding: 0px 50px;
    }
  }
}

#contact {
  p {
    padding: 0px 150px;
  }
}

.navbar-toggle {
  &:hover, &:active {
    background: #303030 !important;
  }
}

@media (max-width: 500px) {
  #app-desc img {
    width: 400px;
    height: 250px;
    margin: 0 auto;
  }
  #contact {
    p {
      padding: 0px 30px;
    }
  }
}

@media (max-width: 370px) {
  .features {
    font-size: 10px;
    padding: 10px 0 0 0;
  }

  .feature_row {
    padding: 0;
  }

  .footer {
    font-size: 12px;
  }
}

.fixed_always {
  position: fixed;
}

.dont_hide {
  visibility: visible !important;
}
