a {
  color: #0099FF;
}

.action {
  position: relative;
  float: right;
}

.tools {
  top: -10px;
}

.buttons {
  float: right;
  cursor: pointer;
}

.font-white {
  color: rgb(255,255,255);
}

md-toolbar.md-default-theme li.activeClass {
  color: rgb(255,255,255);
}

.left{
  width: 50%;
  margin: 0;
  display: inline-block;
}

.right {
  width: auto;
  float: right;
  position: relative;
  top: 0;
  right: 0;
  display:inline-block;
}
.dropdown-menu {
  cursor: pointer;
}

md-list h3 {
  margin-left: 50px;
}

.SCimg {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 0;
  margin-top: -11px;
  position: absolute;
  left: 0;
}

.add_button {
  position:absolute;
  right: 0;
}

.song_title {
  position: absolute;
  left: 15%;
  font-size: 16px;
  margin: 0;
  margin-top: -10px;
}

@media screen and (max-width:650px) {
  .song_title {
    position: absolute;
    left: 0;
    margin-left: 0;
  }

  .empty_text {
    text-align: center;
  }
}

.song_results {
  width: 175%;
  height: 60px;
}

.content_list {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.md-content {
  height: 100vh;
}
