a {
  color: #009688;
  &:hover {
    color: $oddur;
  }
}

.md-content {
  margin-left: 5px;
}

.empty_text {
  height: 50px;
  text-align: center;
}

.action {
  position: relative;
  float: right;
}

.tools {
  top: -10px;
}

.buttons {
  float: right;
  cursor: pointer;
}

.font-white {
  color: rgb(255,255,255);
}

md-toolbar.md-default-theme li.activeClass {
  color: rgb(255,255,255);
}

.left{
  width: 50%;
  margin: 0;
  display: inline-block;
}

.right {
  width: auto;
  float: right;
  position: relative;
  top: 0;
  right: 0;
  display:inline-block;
}
.dropdown-menu {
  cursor: pointer;
}

.SCimg {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 0;
  margin-top: 5px;
  position: absolute;
  left: 5%;
}

.add_button {
  position:absolute;
  right: 0;
}

.song_title {
  position: absolute;
  left: 15%;
  font-size: 16px;
  margin: 0;
  margin-top: 5px;
}


@media screen and (max-width:650px) {
  .song_title {
    position: absolute;
    left: 10%;
    margin-left: 0;
    margin-top: 2px;
  }

  .empty_text {
    text-align: center;
  }

  .md-tile-content h4 {
    font-size: 0.88em;
  }
}



.song_results {
  width: 175%;
  height: 100px;

}

.number {
  float: left;
}

.purple {
  color: $oddur;
}

.md-content {
  overflow: none !important;
}

.edit_btn {
  margin: 0 2px;
  &:hover {
    cursor: pointer;

  }
}

@media screen and (min-width:650px) {
  md-list h3 {
    margin-left: 50px;
  }
}

.playlist_dropdown{
  position: fixed;
  right: 12%;
  margin-top:13px;
  z-index: 100;
}

.as-sortable-drag .playlist_dropdown {
  visibility: hidden;
}

.open > .dropdown-menu {
  margin-left: 59px;
  margin-top: -23px;
  padding: 0 2px;
}

.playlist_item:hover {
  background-color: $oddur;
  color: rgb(255,255,255);

}


@media screen and (max-width:580px) {
  .playlist_dropdown{
    right: 48%;
    margin-top:46px;
  }
}
