#audioplayer{
  width: 100%;
  background: #FFC2A3 !important;
  height: 60px;
  top: 30;
  position: fixed;
  margin: 0 auto auto auto;
  z-index: 100;
  border-bottom: 3px solid #009688;
}

.player-buttons {
  margin: 0 10px;
  margin-top: 16px;
  cursor: pointer;
  font-size: 25px;
  border: none;
  float:left;
  outline:none;
  color: #009688;
}

#songinfo {
  padding-left: 30px;
  margin-top: 18px;
  font-size: 13.5px;
}

#youtubePlayer, #soundcloud_widget {
  display: none;
}

#pButton{
    height:60px;
    width: 60px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
}

.play{background: url('http://www.alexkatz.me/codepen/images/play.png') ;}
.pause{background: url('http://www.alexkatz.me/codepen/images/pause.png') ;}

#timeline{
  width: 400px;
  height: 20px;
  margin-top: 20px;
  margin-right: 10px;
  float: left;
  border-radius: 15px;
  // background: rgba(0,0,0,.3);
  background: rgba(255,255,255,.7);

}
#playhead{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-top: 1px;
  background: rgba(0, 0, 0, 1);
}
@media (max-width: 800px) {
  #timeline, #playhead {
    display: none;
  }
  #songinfo {
    font-size: 10px;
  }
}
