<div id="audioplayer" class='sticky'>
  <div id="playerstuff">
    <span class="glyphicon glyphicon-backward player-buttons" ng-click="prevSong()"></span>
    <button id="pButton" ng-class="{ 'pause' : musicPlaying, 'play' : !musicPlaying }" ng-click="toggle()"></button>
    <span class="glyphicon glyphicon-forward player-buttons" ng-click="nextSong()"></span>
    <div id="timeline"><div id="playhead"></div></div>
  </div>
  <div style="display: inline-block;"><p ng-show="currentlyPlaying" id="songinfo">{{currentlyPlaying.title | limitTo:60 }}...</p></div>
  <div id="sliderdiv"><md-slider flex min="0" aria-label = "volume" max="100" ng-model="volume" id="volume-slider" class></md-slider></div>
</div>

<div id="youtubePlayer"></div>
<!-- <iframe id="soundcloud_widget" width="100%" height="166" scrolling="no" frameborder="no" src=""></iframe> -->
<audio id="music" preload="true">
    <source src="">
</audio>
<audio id="tester" preload="true">
    <source src="">
</audio>

