#audioplayer{
  width: 100%;
  // background: #24343c !important;
  background: #303030 !important;
  height: 60px;
  top: 30;
  position: fixed;
  margin: 0 auto auto auto;
  z-index: 100;
  // border-bottom: 3px solid #009688;
}

.player-buttons {
  margin: 0 10px;
  margin-top: 16px;
  cursor: pointer;
  font-size: 25px;
  border: none;
  float:left;
  outline:none;
  color: #009688;
  &:hover {
    color: #666666;
  }
}

#songinfo {
  color: white !important;
  padding-left: 10px;
  margin-top: 20px;
  font-size: 10px;
}

#youtubePlayer, #soundcloud_widget, #tester {
  display: none;
}

#pButton{
    height:60px;
    width: 60px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
}

.play { background: url('https://i.imgur.com/GdwDHmA.png')};
.pause { background: url('https://i.imgur.com/kmTMcH9.png')};

// .play{background: url('http://www.alexkatz.me/codepen/images/play.png') ;}
// .pause{background: url('http://www.alexkatz.me/codepen/images/pause.png') ;}

#timeline{
  width: 400px;
  height: 20px;
  margin-top: 20px;
  margin-right: 10px;
  float: left;
  border-radius: 15px;
  // background: rgba(0,0,0,.3);
  background: rgba(255,255,255,.7);
  cursor: pointer;

}
#playhead{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-top: 1px;
  background: rgba(0, 150, 136, 1);
}

#volume-slider {
  width: 100px;
  margin-top: 5px;
  background: none;
}

#sliderdiv {
  display: inline-block;
  float: right;
  margin-right: 20px;
}

#repeat {
  p {
    span {
      cursor: pointer;
      color: white;
      font-size: 20px;
    }
  }
  display: inline;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

.glyphicon-repeat, .glyphicon-volume-off {
  color: #666666 !important;
}

.muted {
  color: #009688 !important;
}

.repeat {
  color: #009688 !important;
}

.md-thumb:after {
  background: #009688 !important;
}

@media (max-width: 1080px) {
  #songinfo {
    display: none;
  }
}

@media (max-width: 800px) {
  #timeline, #playhead {
    display: none;
  }
}
