.move-down {
  margin-top:100px;
}
.input {
	margin: 0 auto;
	width: 27%;
}

.fa-5x {
	padding: 21px;
}

.search {
	width: 334px;
	padding-bottom: 25px;
	padding-top: 25px;
}

.results {
	margin: 0 auto;
	width: 67%;
	padding-top: 25px;
}

