.move-down {
  margin-top:100px;
}
.input {
	margin: 0 auto;
	width: 27%;
}

.fa-5x {
	padding: 21px;
}

.search {
	width: 334px;
	padding-bottom: 25px;
	padding-top: 25px;
}

.results {
	margin: 0 auto;
	width: 67%;
	padding-top: 25px;
}

.SCimg {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 0;
  margin-top: -11px;
  position: absolute;
  left: 0;
}

.add_button {
  position:absolute;
  right: 0;
}

.song_title {
  position: absolute;
  left: 15%;
  font-size: 16px;
  margin: 0;
  width: 65%;
}

.song_results {
  width: 185%;
  height: 60px;
}

.input {
  padding-top: 20px;
}
